<header>
    <div class="header-container">
        <div class="header-superior">
            <div class="container">
                <div class="row justify-space-between">
                    <div class="only-responsive burguer-button">
                        <div class="button-container">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="logo-container">
                        <h1>
                            <a [routerLink]="['/']">
                                <img src="../../../assets/img/logo.svg" />
                            </a>
                        </h1>
                    </div>
                    <div class="only-responsive search-show-button">
                        <button class="search-show icon-button"><img src="../../../assets/img/icon-search.svg"/></button>

                    </div>
                    <div class="search-container">
                        <app-search-input></app-search-input>
                    </div>
                    <div class="user-container">
                        <div class="row">
                            <div class="cart-zone">
                                <button class="cart-button icon-button"><img src="../../../assets/img/icon-cart.svg"/></button>
                                <span class="cart-number">0</span>
                            </div>
                            <div class="login-user no-responsive">
                                <button class="icon-button user-icon no-responsive"><img src="../../../assets/img/icon-user.svg"/></button>
                                <span>Iniciar sesión</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-inferior bg-black">
            <div class="container">
                <nav>
                    <ul class="main-nav row">
                        <li><a href="#!" class="color-white">Hombre</a></li>
                        <li><a href="#!" class="color-white">Mujer</a></li>
                        <li><a href="#!" class="color-white">Junior</a></li>
                        <li><a href="#!" class="color-white">Niños</a></li>
                        <li><a href="#!" class="color-white">Accesorios</a></li>
                        <li><a href="#!" class="color-white">Ofertas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>