.not-found-page {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-title {
    font-size: 10rem;
    margin-bottom: 0;
}

.not-found-page h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.not-found-page p {
    font-size: 1.2rem;
}
