<div class="container slider-products">
    <h2>Productos más buscados</h2>
    <ul class="slider-home-products">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <li ngxSlickItem *ngFor="let product of productListItems" class="product-list-item">
                <img [src]="product.thumbnail" />
                <h4>{{product.title}}</h4>
                <div class="row">
                    <span class="product-original-price">{{product.original_price | currency}}</span>
                    <span class="product-sale-price">{{product.price | currency}}</span>
                </div>
            </li>
        </ngx-slick-carousel>
    </ul>
</div>