<section>
    <app-slider-home></app-slider-home>
</section>
<section>
    <div class="container sections-container">
        <div class="row">
            <div class="col-6">
                <img src="../../../../assets/img/banner-moda-infantil.jpg" />
            </div>
            <div class="col-6">
                <img src="../../../../assets/img/banner-deportivo.jpg" />
            </div>
        </div>
    </div>
</section>
<section>
    <app-slider-products></app-slider-products>
</section>