@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
    --black: #000;
    --white: #fff;
    --lightgray: #EEEEEE;
    --gray: #6B6B6B;
    --darkgray: #3D3D3B;
    --purple: #5B17AA;
}

*,
*:before,
*:after,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    list-style: none;
    text-decoration: none;
    font-size: 100%;
}


/* general */

body {
    overflow-x: hidden;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-weight: lighter;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bg-black {
    background-color: var(--black);
}

.color-white {
    color: var(--white);
}

.text-center {
    text-align: center;
}


/* grid */

.container-fluid {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}


/* slider */

.slider-home .slick-arrow {
    position: absolute;
    width: 35px;
    height: 70px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url('assets/img/white-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    cursor: pointer;
}

.slider-home .prev-slide {
    left: 1rem;
    transform: rotate(180deg);
}

.slider-home .next-slide {
    right: 1rem;
}

.slider-home .slick-dots {
    position: absolute;
    bottom: 1rem;
}

.slider-home .slick-dots>li>button:before {
    width: 25px;
    height: 25px;
    content: "";
    background-color: #fff;
    border-radius: 50%;
    opacity: .4;
    transition: all .2s ease-in-out;
}


/* slider products */

.slider-home-products .slick-arrow {
    position: absolute;
    width: 35px;
    height: 70px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url('assets/img/gray-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    cursor: pointer;
}

.slider-home-products .prev-slide-products {
    left: -1rem;
    transform: rotate(180deg);
}

.slider-home-products .next-slide-products {
    right: -1rem;
}

.button-primary {
    height: 40px;
    border-radius: 5px;
    background-color: var(--purple);
    transition: all .2s ease-in-out;
    margin: 2rem 0;
    padding: 0 2rem;
    color: var(--white);
}

button.button-primary:hover {
    opacity: .7;
}


/* breakpoints */

@media screen and (max-width: 1366px) {
    .slider-home-products .prev-slide-products {
        left: 0;
    }
    .slider-home-products .next-slide-products {
        right: 0;
    }
}

@media screen and (max-width:768px) {
    .no-responsive {
        display: none;
    }
    .container {
        padding: 0 2rem;
    }
}
