<footer>
    <div class="footer-container bg-black">
        <div class="container">
            <div class="row justify-space-between">
                <div class="footer-menu">
                    <h3>Políticas</h3>
                    <ul class="footer-menu-items">
                        <li><a href="#" class="color-white">Políticas de privacidad</a></li>
                        <li><a href="#" class="color-white">Políticas de cambio</a></li>
                        <li><a href="#" class="color-white">Políticas de envío</a></li>
                        <li><a href="#" class="color-white">Términos y condiciones</a></li>
                        <li><a href="#" class="color-white">Responsabilidad social</a></li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h3>Sobre nosotros</h3>
                    <ul class="footer-menu-items">
                        <li><a href="#" class="color-white">Encuentra tu tienda</a></li>
                        <li><a href="#" class="color-white">Contáctanos</a></li>
                        <li><a href="#" class="color-white">Trabaja con nosotros</a></li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h3>Síguenos en:</h3>
                    <ul class="row justify-space-between footer-social">
                        <li>
                            <a href="#!">
                                <img src="../../../assets/img/icon-facebook.svg">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="../../../assets/img/icon-twitter.svg">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="../../../assets/img/icon-instagram.svg">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="../../../assets/img/icon-youtube.svg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid footer-copy">
            <div class="container">
                <h4 class="color-white text-center">© Copyright Colombia. Todos los derechos reservados</h4>
            </div>
        </div>
    </div>
</footer>