.footer-menu {
    padding: 5rem 0 2rem 0;
}

.footer-menu h3 {
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-menu li {
    margin-bottom: 10px;
    font-weight: 300;
}

.footer-social>li>a {
    width: 35px;
    height: 35px;
    background-color: var(--white);
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social>li>a>img {
    width: 25px;
}

.footer-copy {
    padding-bottom: 1.5rem;
}

.footer-copy:before {
    content: "";
    background-color: var(--white);
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 1.5rem;
}